<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Pet Store API Test Suite" parallel="methods" thread-count="3">
    <test name="Pet API Tests">
        <packages>
            <package name="com.petstore.api.pet"/>
        </packages>
        <classes>
            <!-- Exclude the ImageUploadTests class that's causing issues -->
            <class name="com.petstore.api.pet.ImageUploadTests">
                <methods>
                    <exclude name="uploadPetImage"/>
                    <exclude name="uploadInvalidImageFormat"/>
                    <exclude name="uploadImageToNonExistentPet"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> 